@tailwind base;
@tailwind components;
@tailwind utilities;


*{
   font-family: "Lato", sans-serif;
}

::-moz-selection{
   @apply bg-brand-color text-white
}
::selection{
   @apply bg-brand-color text-white
}

/* .desc1{
   @apply text-xs bg-gray-600 opacity-70 w-fit p-1 rounded-r-md;
}
.desc2{
   @apply text-xs bg-gray-500 opacity-70 w-fit p-1 rounded-r-md;
} */

.desc1{
   @apply text-xs font-semibold p-1 rounded-r-md bg-brand-color/80 opacity-100 transition;
}
.desc2{
   @apply text-xs font-semibold p-1 rounded-r-md bg-red-600 opacity-100 transition;
}

.movie-card{
   @apply snap-start bg-slate-700 h-full min-w-[13.1rem] xl:min-w-[17.6rem];
}

.rotate-y-180 {
   transform: rotateY(180deg);
}

.rect{
   transition: flex-grow 0.3s ease-in;
}

.cur-rect{
   flex-grow: 1;
   background-color: #f47521;

}

.pop-cards:hover ~ .right-arrow-div,
.pop-cards:hover ~ .left-arrow-div{
   @apply transition duration-200 opacity-0 ease-in-out;
}

.right-arrow-div{
   @apply absolute flex items-center justify-center h-[17.3rem] xl:h-[24rem] w-20 cursor-pointer bottom-0 right-0 z-50 bg-gradient-to-r from-black/0 via-black/50 to-black/70;
}

.left-arrow-div{
   @apply rotate-180 left-0 bottom-0 absolute flex items-center justify-center  h-[17.3rem]  xl:h-[24rem] w-20 cursor-pointer z-50 bg-gradient-to-r from-black/0 via-black/50 to-black/70;
}


.no-scroll{
   overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
   display: none;
 }
 
 .no-scrollbar {
   -ms-overflow-style: none;  /* Internet Explorer 10+ */
   scrollbar-width: none;     /* Firefox */
 }
